* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    background-color: beige;
    /* tipo de fuente */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/circuit.png);

    


}

.cabecera {
    background-color: tomato;
    display: flex;
    /* justify-content: space-between; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Sono', sans-serif;
    font-size: medium;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

/* -----------------------NAV BAR----------------------------- */


header .div-nav {
    border-radius: 20px;
    font-family: 'Sono', sans-serif;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background: #023859;
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
    
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px;
}
h2{background-color: yellowgreen;
    border-radius: 20px;
    padding: 10px;}

/* -----------------------NAV BAR END----------------------------- */
/* -----------------------articles----------------------------- */

.sec {
    padding: 50px;
    background-color: #40424a;
    margin: 20px auto;
    border-radius: 20px;
    font-family: 'Sono', sans-serif;
    justify-content: space-around;
    align-items: center;
    display: flex;
    max-width: 1000px;
    margin: auto;
}
h3 {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
}

article {
    background-color: blue;
    border-radius: 20px;
    padding: 10px;


}

p {
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
}



.news-1 {
    padding: 10px;
    border-radius: 20px;
    background: rgb(172, 172, 6);
    max-width: 1000px;
    width: 40%;
    margin: auto;

}
