* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    background-color: beige;
    /* tipo de fuente */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/circuit.png);

    


}

.cabecera {
    background-color: tomato;
    display: flex;
    /* justify-content: space-between; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Sono', sans-serif;
    font-size: medium;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}